*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Federant', cursive;
}
body,
html{
	height: 100%;
	background-image: url(../images/pexels-photo-327131.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	scroll-behavior: none;
}

#navbar{
	/*background-color: pink;*/
	background-image: url(../images/pexels-photo-327131.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	scroll-behavior: none;

}
.navbar{
	/*margin: 0;*/
	/*padding: 0;*/
	position: fixed;
	width: 100vw;
	height: 40px;
	/*background-color: #13293D;*/
	border: 3px solid green;
}
.navbar > a{
	font-size: 40px;
}
#home{
	/*padding: 0;*/
	/*margin: 0;*/
	/*padding-top: 10%;*/
	/*height: 100vh;*/
	/*background-color: #333;*/
	/*border-radius: 0;*/
/*	background-image: url(../images/pexels-photo-1362534.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	scroll-behavior: none;*/
	width: 100vw;
	border: 2px solid red;
	/*margin-top: 40px;*/
	height: 100vh;
}

#jumbo-div{
	background-color: transparent;
/*	position: absolute;
	bottom: 10px;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 30px;*/

}
.jumbotron h1{
	color: #f2f2f2;
	font-size: 50px;
}
#port-jumbo{
	/*border: 8px solid #007bff;*/
	/*border-radius: 10px;*/
	/*width: 60%;*/
	/*padding: 8em 4em;*/
	/*font-size: 50px;*/
}


.btn a{
	text-decoration: none;
	color: #f2f2f2;
}
.footer{
	/*padding: 0;*/
	/*position: fixed;*/
	/*width: 100vw;*/
	/*height: 5em;*/
	/*margin: 0;*/
	/*padding-bottom: 5em;*/
}

.social{
	/*position: fixed;*/
}

/* Style all font awesome icons */
.fa {
	padding: 10px;
	font-size: 30px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	border-radius: 100%;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;

}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;

}
/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}
/*instagram*/
.fa-instagram {
  background: #125688;
  color: white;
}

[class*="col"]{
	border: 3px groove transparent;
}