*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Federant', cursive;
}


/*common*/
#navbar-index,
#navbar-home,
#navbar-icecream,
#navbar-about,
#navbar-contact{
	background-color: #FE938C;
	border: 5px groove white;
	padding: 5px;
}
#navbar-index > a,
#navbar-contact > a,
#navbar-icecream > a,
#navbar-home > a,
#navbar-about > a{
	color: #E51666;
	font-family: 'Playball', cursive;
	font-size: 40px;
	text-shadow: 2px 2px 4px #000000;
	padding: 0;

}
#navbar-index > a:active,
#navbar-contact > a:active,
#navbar-icecream > a:active,
#navbar-home > a:active,
#navbar-about > a:active{
	color: white;

}

#footer{
	background-color: #FE938C;
}


small a{
	text-decoration: none;
	color: #E51666;
}


/*landing page*/
#landing{
	height: 100vh;
	background-image: url(../images/pexels-photo-327131.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}
.jumbotron hr{
	background-color: #E51666;
}
.container > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: 2px groove #FF6978;
	background-color: transparent;
	border-radius: 10px;
}
.container > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
}
.btn a{
	text-decoration: none;
	color: black;
}
.btn a:hover{
	text-decoration: none;
	color: white;
}

#jumbo-land{
	height: 100vh;
	padding-top: 20%;
	background-color: rgba(51,51,51, 0.05);
	border-radius: 0;
}



.jumbotron h1{
	color: #E51666;
	letter-spacing: 0.5em;
	text-shadow: 2px 2px 4px #000000;
	font-size: 60px;
}

.logo{
	height: 100%;
	width: 50px;
}
[class*="col"]{
	border: 1px groove transparent;
	/*float: left;*/
}

.navbar:hover{
	background-color: pink;
	z-index: 200;

}
#navbar-nav a:hover{
    text-decoration-style: solid;
    font-weight: bold;
    color: white;
}

.subscribe span{
	/*font-family: 'Mukta', sans-serif;*/
	color: red;
	font-size:	20px;
}

.subscribe button{
	font-family: 'Mukta', sans-serif;
	background-color: #EC7063;
	color: white;
	border-radius: 5px;
	width: 100px;

}
form > button{
	background-color: #EC7063;
	color: white;
}
.subs-email{
	background-color: pink;
	opacity: 0.5;
}

.search-container{
	/*border: 1px solid white;*/
	/*border-radius: 10px;*/
	/*background-color: transparent;*/
	padding: 8px;
}

.search{
	background-color: transparent;
}


strong{
	color: #E51666;
	shape-outside: margin-box;
	font-weight: bold;
}
.fa-heart{
	color: red;
}


/*end landing page*/


#carousel-home{
	width: 100%;
	height: 100%;
}

#carousel-home img{
	height: 100vh;
	border: 5px groove white;
}


.homepage-btn{
	position: absolute;
	left: 50%;
	top: 50%;
	/*padding: 0;*/
	/*margin:0;*/
	/*z-index: 666;*/
	transform: translate(-50%, 400%);
}

.homepage-btn > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	background-color: transparent;
	border: 2px groove pink;
	border-radius: 10px;
}


.homepage-btn > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
}


#home-about{
	height: 60vh;
	background-image: url(../images/home-about.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}

#home-about-jumbo{
	height: 60vh;
	/*padding-top: 20%;*/
	background-color: rgba(51,51,51, 0.05);
	border-radius: 0;
}

#home-icecream{
	height: 60vh;
}
#home-icecream-menupage{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}
#home-icecream-menupage img{
	width: 100vw;
	height: 60vh;

}
#home-icecream-menupage h1{
	font-size: 50px;

}
#home-icecream-jumbotron-menu{
	background-color: #f2f2f2;
	height: 60vh;
	border-radius: 0;
	margin: 0;
	width: 100%;
}
.home-icecream-btn{

}
.home-icecream-btn{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 200%);
}

.home-icecream-btn > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	background-color: transparent;
	border: 2px groove pink;
	border-radius: 10px;
}


.home-icecream-btn > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
}

#home-icecream-jumbotron-menu h1,
#home-icecream-jumbotron-menu hr,
#home-icecream-jumbotron-menu p{
	position: relative;
	top: 20%;


}


#home-icecream-menupage img:hover{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);

}

#home-contact{
	height: 60vh;
	background-image: url(../images/home-contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}




/*contact page*/

#contact-page{
	margin-top: 80px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0px;

}

#contact-left{
	background-color: #f2f2f2;
	height: 400px;
	margin-top: 15px;
}

#contact-page > header{
	background-color: #f2f2f2;
	height: 140px;
	margin-bottom: 5px;
	padding-top: 10px;
	/*border-bottom: 1px solid #E51666;*/
}
#contact-left > form{
	height: 350px;
	font-size: 12px;
}
#contact-left input{
	font-size: 12px;
	height: 100%;
	margin-bottom: 10px;

}
#contact-left textarea{
	font-size: 12px;
	margin-bottom: 10px;

}


#contactpage{
	background-image: url(../images/icecreambg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	/*height: 100vh;*/
}
#contact-page-2{
	margin-left: 0;
	margin-right: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#map{
	/*border: 2px solid blue;*/
	height: 400px;
	background-color: #f2f2f2;
	padding-top: 0;
	margin-top: 15px;

}
.social{
	position: relative;
	float: right;
	padding-left: 5px;
	padding-bottom: 5px;
	
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
 	height: 100px;
	width: 100px;
	outline: black;
	background-color: rgba(0, 0, 0, 0.3);
	background-size: 50%, 50%;
	border-radius: 50%;
}

/* Style all font awesome icons */
.fa {
	font-size: 10px;
	width: 25px;
	text-align: center;
	text-decoration: none;
	border-radius: 100%;
	padding: 5px;
	height: 25px;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;

}
/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}


#contact-page form,
.map{
	border: 5px groove pink;
	border-radius: 10px;

}
.form-control{
	background-color: #FFB99E;
}
#username:focus,
#email:focus,
#contact:focus,
#message:focus{
	background-color: pink;
}
#modal-header{
	width: 100%;

}

#jumbotron-contact{
	background-color: #f2f2f2;
	height: 20em;
	border-radius: 0;
	margin-bottom: 0;
	border: 5px groove pink;
	border-radius: 10px;
	padding-bottom: 10px;
}
#jumbotron-contact > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: 2px groove #FF6978;
	background-color: transparent;

}
#jumbotron-contact button{
	background-color: #EC7063;
	border-radius: 5px;
	width: 100px;
}

#jumbotron-contact button:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
	color: white;
}

#jumbotron-contact h1{
	font-size: 50px;
}








#navbar-nav{
	margin: 0;
}


#common{
	padding: 0;
	margin:0;
	width: 300px;
	height: 50px;
	background: pink;
	border: 2px groove pink;
}

















#landing-about{
	font-size: 5em;
	padding-top: 50px;
	letter-spacing: 0.1em;
}

#meettheteam{
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 50px 20px;
	background-image: url(../images/icecreambg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#meettheteam1{
	margin: 0;
	padding: 150px 50px;
	height: 400px;
}
 
#meettheteam1 img {
	height: 200px;
	margin-bottom: 10px;
	border-radius: 100%;

}
#meettheteam1 .card:hover {
	/*transform: scale(1.20);*/
	transform: rotate(360deg);
	z-index: 1999;
}
#meettheteam1 .card{
	height: 400px;
	padding: 10px;
	width:  200px;
	box-shadow: 10px 10px 5px pink;
}


#mission-vision{
	padding-top: 20px;
	margin-top: 30px;
}
#mission,
#vision-right{
	padding-left: 40px;
}



#icecream-items .card{
	height: 300px;
	/*box-shadow: 10px 10px 5px pink;*/
}
.modal {
	z-index: 1999;
}

#icecream-items .card img {
	height: 250px;
	margin-bottom: 10px;
	box-shadow: 10px 10px 5px pink;
}
.modal-content{
	background-color: pink;
}
.modal-content img{
	height: 300px;
	width: 100%;
	box-shadow: 10px 10px 5px grey;
}
#icecream-items .card:hover {
	transform: scale(1.05);
	z-index: 1999;
}
#icecream-text{
	background-color: #f2f2f2;
	padding: 5px;
}


#left{
	width: 100%;
	border: 2px solid red;
	margin-top: 5%;
}


#icecream-items{

	margin-left: 0;
	margin-right: 0;
}

#icecream-menupage{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}
#icecream-menupage img{
	width: 100vw;
	height: 100vh;

}
#icecream-menupage h1{
	font-size: 50px;

}
#jumbotron-menu{
	background-color: #f2f2f2;
	height: 100vh;
	border-radius: 0;
	margin: 0;
	width: 100%;
}

#jumbotron-menu h1,
#jumbotron-menu hr,
#jumbotron-menu p{
	position: relative;
	top: 50%;


}


#icecream-menupage img:hover{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);

}
#icecream-bg{
	background-color: #f2f2f2;
}

#icecream-menu1{
	height: 430px;
	width: 100%;
	/*background-color: pink;*/
	margin: 0;
	padding: 50px 20px;
	background-image: url(../images/icecreambg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#icecream-menu3{
	height: 350px;
	width: 100%;
	background-color: transparent;
	margin: 0;
	padding: 0px 20px;
}

#icecream-menu2{
	height: 430px;
	width: 100%;
	background-color: #f2f2f2;
	margin: 0;
	padding: 50px 20px;
	background-image: url(../images/icecreambg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#icecream-menu4{
	height: 100%;
	width: 100%;
	background-color: #f2f2f2;
	margin: 0;
	padding: 20px;
}

#icecream-menu5{
	height: 600px;
	width: 100%;
	/*background-color: pink;*/
	margin: 0;
	padding: 50px 10px;
	background-image: url(../images/icecreambg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#mobile{
	background-color: #f2f2f2;
	/*height: 500px;*/
	/*margin-left: 20px;*/
	padding-left: 20px;
	padding-right: 20px;

}

#mobile img{
	width: 90%;
	height: 100%;
	border: 2px groove pink;
	border-radius: 20px;
}

#mobile img:hover{
	transform: scale(1.05);
	border: 4px groove pink;

}

#menu5-cont{
	text-align: left;
	padding-top: 50px;
}

#menu5-cont hr{
	background-color: #E51666;
}
#menu5-cont > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: 2px groove #FF6978;
	background-color: transparent;
	border-radius: 10px;
}
#menu5-cont > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
}

#disclaimer{
	background-color: #959595;
	/*height: 100%;*/
	margin: 0;
	padding: 30px;
}


#menu4-cont1{
	width: 100%;
	border: 2px black;
	padding-left: 60px;

}

#icecream-items img{
	height: 200px;
	width: 100%;

}
#menu-text{
	padding: 0;
}



/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	background-color: transparent;
	width: 300px;
	height: 200px;
	border: 1px solid #f1f1f1;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	background-color: #f2f2f2;
	color: black;
}

/* Style the back side */
.flip-card-back {
	background-color: pink;
	transform: rotateY(180deg);
}



/* start of custom media queries */

/*Mobile Styles*/
@media only screen and (max-width: 400px) {

	/*common*/
	#navbar-index > a,
	#navbar-contact > a,
	#navbar-icecream > a,
	#navbar-home > a,
	#navbar-about > a{
		color: #E51666;
		height: 20px;
		font-size: 16px;

	}
	#navbar-index > img,
	#navbar-contact > img,
	#navbar-icecream > img,
	#navbar-home > img,
	#navbar-about > img,
	#navbar-events > img{
		width: 20px;
		height: 20px;
	}
	h2,h3,h5,p{
		font-size: 12px;
	}
	h5{
		font-size: 8px;
	}
	.btn a{
		font-size: 12px;
	}



	#navbar-nav{
		font-size: 10px;
		width: 100%;
	}
	/*end-common*/

	/*landing*/
	#jumbo-land{
		height: 100%;
		padding-top: 20%;

	}
	.jumbotron h1{
		letter-spacing: 0.1em;
		font-size: 20px;
	}

	.container > .btn{
		width: 150px;
		height: 40px;
	}

	#contact-page > header{
		/*height: 150%;*/
		margin-top: 0px;
		padding-top: 40px;
	}
	#contact-page > header > h1{
		font-size: 12px;
		padding: 0;
		margin-bottom: 0;
	}
#contact-left{
	padding-top: 15px;
	padding-bottom: 15px;

}

#map{
	padding-top: 15px;
	padding-bottom: 15px;
	/*background-color: pink;*/
}
	.modal {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 250px;

	}
	.modal button{
		font-size: 10px;
		height: 30px;
	}
	.modal footer{
		font-size: 10px;
		height: 20px;
		padding: 5px;
		margin-bottom: 5px;
	}

.modal-content img{
	height: 200px;
	width: 100%;
}

	.modal-header .close{
		width: 30px;
		padding-left: 5px;

	}

	#contact-page form,
	.map{
		border: 2px groove pink;
		border-radius: 10px;
		margin-bottom: 5px;

	}
#contact-page-2{

	height: 250px;
	padding: 10px 0 0 0;
}
	#jumbotron-contact{
		height: 200px;
		border: 2px groove pink;
		border-radius: 10px;
		padding: 10px;
	}
	#jumbotron-contact > h1,
	#jumbotron-contact > p{
		font-size: 12px;
		margin: 5px;

	}
	#jumbotron-contact > .btn{
		height: 40px;
		width: 100px;
	}
	#modal-contact{
		width: 80%;
	}
	.form-group > .signup{
		font-size: 12px;
	}

	/*end contact page

/*about page*/
#meetteam{
	height: 100vh;
	width: 100vw;
}

#landing-about{
	font-size: 12px;
	padding-top: 25vh;
	letter-spacing: normal;
}

#icecream-menu1{
	height: 430px;
	width: 100%;
	/*background-color: pink;*/
	margin: 0;
	padding: 50px 20px;
	background-image: url(../images/icecreambg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}


.img-media{
	height: 100px;
	width: 100px;
	border: 2px groove pink;
	border-radius: 50%;
}


/*end about page*/

/*icecream page*/
#icecream-items .card{
	height: 150px;
}

#icecream-items .card img {
	height: 100px;
	margin-bottom: 10px;

}
.modal-content img{
	height: 110px;
	width: 100%;
}
#icecream-menu1,
#icecream-menu2{
	height: 230px;
	padding: 20px;
}
#icecream-menu3{
	height: 190px;
}

#icecream-items{
	margin: 0;
	padding: 0;
}
#icecream-menu4{
	padding: 5px;
}
#menu4-cont1{
	padding-left: 30px;
	font-size: 12px;

}
#meettheteam1{
	padding: 80px 0px;
	height: 100px;
}
#meettheteam1 img {
	height: 100px;
}
#meettheteam1 .card{
	height: 270px;
	padding: 5px;
	width:  100px;
}

#mission-vision{
	padding-top: 20px;
	margin-top: 30px;
}


#mission-vision li{
	font-size: 12px;
}

#disclaimer{
	font-size: 12px;
	padding: 5px;
}


body,
#jumbo-land,
#contactpage,
#meettheteam,
#icecream-menu1,
#icecream-menu2,
#icecream-menu5,
{
	background-attachment: scroll;
}


#menu5-cont > h1{
	font-size: 16px;
}

#home-icecream-jumbotron-menu h1,
#jumbotron-menu h1{
		letter-spacing: 0.1em;
		font-size: 20px;
}

#home-icecream-jumbotron-menu button{
	width: 100%;
}



/*end icecream page*/


}

/*Tablet Styles*/

@media only screen and (min-width: 401px) and (max-width: 960px) {

	#navbar-index > a,
	#navbar-contact > a,
	#navbar-icecream > a,
	#navbar-home > a,
	#navbar-about > a,
	#navbar-events > a{
		color: #E51666;
		height: 20px;
		font-size: 26px;
	}

	/*landing*/
	#jumbo-land{
		height: 100%;
		padding-top: 20%;

	}
	.jumbotron h1{
		letter-spacing: 0.1em;
		font-size: 30px;
	}
	.container > .btn{
		width: 150px;
		height: 40px;
	}
	.modal {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}


	p{
		font-size: 12px;
	}

#meettheteam1{
	padding: 150px 10px;
}


#home-about h1{
		letter-spacing: 0.1em;
		font-size: 30px;
}



}

/*Desktop Styles*/

@media only screen and (min-width: 961px) {


}
/* end of custom media queries */