*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Federant', cursive;
}
html{
	/*height: 100%;*/
}
body{
	background-image: url(../images/pexels-photo-327131.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
/*landing page*/
.jumbotron hr{
	background-color: #E51666;
}
.container > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: 2px groove #FF6978;
	background-color: transparent;
}
.container > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
}
.btn a{
	text-decoration: none;
	color: black;
}
.btn a:hover{
	text-decoration: none;
	color: white;
}

#jumbo-land{
	height: 100vh;
	padding-top: 15%;
	background-color: #333;
	border-radius: 0;
	background-image: url(../images/pexels-photo-327131.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/*#jumbo-land:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}*/
#navbar-index > a,
#navbar-contact > a,
#navbar-menu > a,
#navbar-home > a,
#navbar-events > a{
	color: #E51666;
}

.jumbotron h1{
	color: #f2f2fE516662;
	letter-spacing: 0.5em;
}

.logo{
	height: 100%;
	width: 50px;
}
[class*="col"]{
	border: 1px groove green;
	/*float: left;*/
}

.navbar:hover{
	background-color: pink;

}


.subscribe{
	/*border: 1px groove #FF6978;*/
	/*background-color: rgba(255, 105, 120, 0.5);*/
	/*color: red;*/
	width: 40%;
	/*margin-bottom: 20px;*/
	/*bottom: 20%;*/
	/*height: 20px;*/
	padding: 0;
	margin: 0;
	/*font-size: 10px;*/
	/*float: right;*/


}

.subscribe span{
	/*font-family: 'Mukta', sans-serif;*/
	color: red;
	font-size:  20px;
}

.subscribe button{
	font-family: 'Mukta', sans-serif;
	background-color: green;
	color: white;
	border-radius: 5px;
	width: 100px;

}
.subs-email{
	background-color: pink;
	opacity: 0.5;
}

.search-container{
	/*border: 1px solid white;*/
	/*border-radius: 10px;*/
	/*background-color: transparent;*/

}
.fa-search{
/*	background-color: transparent;
	padding: 0;*/
}

.search{
	background-color: pink;
	opacity: 0.5;
}


strong{
	color: #E51666;
	shape-outside: margin-box;
	font-weight: bold;
}
.fa-smile-wink{
	color: #E51666;
}


/*end landing page*/


#carousel-home{
	/*height: 80vh;*/
	/*border: 3px solid green;*/
	width: 100%;
	height: 100%;
}

#carousel-home img{
	height: 100vh;
	max-height: 100vh;
}

.homepage-btn{
	position: absolute;
	transform:translate(50px,50px);
	width: 300px;
	height: 50px;
	padding: 0;
	margin:0;
	z-index: 1999;

}

.homepage-btn > .btn{
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: 3px groove pink;
	/*color: red;*/
	font-weight: bold;
}
.homepage-btn > .btn > a{
	color: red;
}

.homepage-btn > .btn:hover{
	background-color: pink;
	border: 3px groove red;
}

/*.carousel-img{
	height: 100vh;
	width: 100%;
}*/

.footer{
	/*background-color: pink;*/
	/*position: fixed;*/
/*	padding: 0;
	margin: 0;*/
	/*left: 0;*/
	/*bottom: 0;*/
	/*width: 100%;*/
	/*background-color: pink;*/
	/*text-align: center;*/
	/*height: 40px;*/
}

/* Style all font awesome icons */
.fa {
	padding: 10px;
	font-size: 30px;
	width: 15%;
	text-align: center;
	text-decoration: none;
	border-radius: 100%;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;

}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;

}
/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*form > input {
	background-color: pink;
}*/


#contact-page{
	/*border: 2px solid green;*/
	margin-top: 58px;
	height: 100%;
}

#map{
	/*border: 2px solid blue;*/
	height: 380px;
}
.social{
	width: 200px;
	height: 90px;
	position: absolute;
	bottom: 5px; 
	border: 5px groove pink;
	border-radius: 10px;
	padding-left: 50px

}

#contact-page form,
.map{
	border: 5px groove pink;
	border-radius: 10px;

}
#username:focus,
#email:focus,
#contact:focus,
#message:focus{
	background-color: pink;
}
#modal-header{
	width: 100%;

}

#jumbotron-contact{
	background-color: transparent;
	height: 20em;
	border-radius: 0;
	margin-bottom: 0;
	border: 5px groove pink;
	border-radius: 10px;
}
#jumbotron-contact > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: 2px groove #FF6978;
	background-color: transparent;
}


#jumbotron-contact > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
}

#jumbotron-about{
/*	background-color: #141414;
	height: 100vh;
	border-radius: 0;
	margin-bottom: 0;*/
	height: 100vh;
	padding-top: 15%;
	background-color: #333;
	border-radius: 0;
	background-image: url(../images/pexels-photo-533322.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	/*scroll-behavior: none;*/
}
#landing-about{
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 25vh;
	letter-spacing: 5px;
	font-family: 'Federant', cursive;
}

#vission-right,
#vission-left,
#mission-right,
#mission-left{
	background-color: pink;
	border: 3px groove pink;
	border-radius: 15px;
}

#vission-right{
	/*height: 100%;*/
	background-image: url(../images/pexels-photo-1362534.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}


#mission-left{
	/*height: 100%;*/
	background-image: url(../images/summer-dessert-sweet-ice-cream.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}


#gallery-items .card{
	height: 400px;
}

#gallery-items .card img {
	height: 250px;
	margin-bottom: 50px;

}

footer:hover{
	background-color: pink;
	margin-left: 0;
	margin-right: 0;
}

/* start of custom media queries */

/*Mobile Styles*/
@media only screen and (max-width: 400px) {

}

/*Tablet Styles*/

@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/*Desktop Styles*/

@media only screen and (min-width: 961px) {

}
/* end of custom media queries */