*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*font-family: 'Gloria Hallelujah', cursive;*/
	font-family: 'Indie Flower', cursive;
}
html{
	/*height: 100%;*/
}

[class*="col"]{
	border: 3px groove green;
	/*float: left;*/
}

/*landing page*/
.jumbotron hr{
	background-color: #ffff;
}
.container > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: 3px groove #FF6978;
	background-color: transparent;
}
.container > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
	color: black;
}
.btn a{
	text-decoration: none;
	color: #ffff;
}

#jumbo-land{
	height: 100vh;
	padding-top: 20%;
	background-color: #333;
	border-radius: 0;
}

.jumbotron h1{
	color: #f2f2f2;
}

/*end landing page*/


/*start of home page*/

#home-landing{
	background-color: #333;
	color: #fff;
	padding: 20%;
}

#carousel-home{
	height: 100vh;
}

#carousel-home img{
	height: 90vh;
	max-height: 90vh;
}


/*end of home page*/

/*.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}
*/

#jumbotron-about{
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
	margin-bottom: 0;
}

#landing-about{
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: 'Federant', cursive;
}

.about-tags{
	font-weight: bold;
	font-family: 'Federant', cursive;

}

#mission{

	height: 100%;
	background-color: #141414;
	color: #f2f2f2;
}
#vission{

	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}




#head-gall{
	margin-top: 8%;
	background-color: #141414;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}


[class*="col"]{
	border: 3px solid green;
	/*float: left;*/
}

#gallery-items .card{
	height: 400px;
}

#gallery-items .card img {
	height: 250px;
	margin-bottom: 50px;

}


/* start of custom media queries */

/*Mobile Styles*/
@media only screen and (max-width: 400px) {

}

/*Tablet Styles*/

@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/*Desktop Styles*/

@media only screen and (min-width: 961px) {

}
/* end of custom media queries */