*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Federant', cursive;
}
html{
	height: 100%;
}
body{
	background-image: url(../images/pexels-photo-327131.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}


/*#navbar-icecream,
#navbar-events{
	background-color: transparent;
}
*/
/*landing page*/
.jumbotron hr{
	background-color: #E51666;
}
.container > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: 2px groove #FF6978;
	background-color: transparent;
}
.container > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
}
.btn a{
	text-decoration: none;
	color: black;
}
.btn a:hover{
	text-decoration: none;
	color: white;
}

#jumbo-land{
	height: 100vh;
	padding-top: 15%;
	background-color: #333;
	border-radius: 0;
	background-image: url(../images/pexels-photo-327131.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/*#jumbo-land:hover{
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);

}*/
#navbar-index > a,
#navbar-contact > a,
#navbar-icecream > a,
#navbar-home > a,
#navbar-events > a{
	color: #E51666;
}

.jumbotron h1{
	color: #E51666;
	letter-spacing: 0.5em;
}

.logo{
	height: 100%;
	width: 50px;
}
[class*="col"]{
	border: 1px groove transparent;
	/*float: left;*/
}

.navbar:hover{
	background-color: pink;
	z-index: 200;

}
#navbar-nav a:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
    font-weight: bold;
    color: white;
}

.subscribe{
	/*border: 1px groove #FF6978;*/
	/*background-color: rgba(255, 105, 120, 0.5);*/
	/*color: red;*/
	/*width: 40%;*/
	/*margin-bottom: 20px;*/
	/*bottom: 20%;*/
	/*height: 20px;*/
	/*padding: 0;*/
	/*margin: 0;*/
	/*font-size: 10px;*/
	/*float: right;*/


}

.subscribe span{
	/*font-family: 'Mukta', sans-serif;*/
	color: red;
	font-size:	20px;
}

.subscribe button{
	font-family: 'Mukta', sans-serif;
	background-color: green;
	color: white;
	border-radius: 5px;
	width: 100px;

}
.subs-email{
	background-color: pink;
	opacity: 0.5;
}

.search-container{
	/*border: 1px solid white;*/
	/*border-radius: 10px;*/
	/*background-color: transparent;*/
	padding: 8px;
}

.search{
	background-color: transparent;
}


strong{
	color: #E51666;
	shape-outside: margin-box;
	font-weight: bold;
}
.fa-smile-wink{
	color: #E51666;
}


/*end landing page*/


#carousel-home{
	/*height: 80vh;*/
	/*border: 3px solid green;*/
	width: 100%;
	height: 100%;
}

#carousel-home img{
	height: 100vh;
	max-height: 100vh;
}

.homepage-btn{
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 0;
	margin:0;
	z-index: 666;
	transform: translate(-50%, -50%);
}

.homepage-btn > .btn{
	/*height: 100%;*/
	/*width: 100%;*/
	background-color: transparent;
	border: 3px groove pink;
	/*color: red;*/
	font-weight: bold;
}
.homepage-btn > .btn > a{
	color: red;
}

.homepage-btn > .btn:hover{
	background-color: pink;
	border: 3px groove red;
}


#contact-page{
	/*border: 2px solid green;*/
	margin-top: 58px;
	height: 100%;
	margin-left: 0;
	margin-right: 0; 
}
#cotact-page-2{
	margin-left: 0;
	margin-right: 0; 
}
#map{
	/*border: 2px solid blue;*/
	height: 380px;
}
.social{
	float: right;
}

/* Style all font awesome icons */
.fa {
	font-size: 10px;
	width: 25px;
	text-align: center;
	text-decoration: none;
	border-radius: 100%;
	padding: 5px;
	height: 25px;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;

}
/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

/*form > input {
	background-color: pink;
}*/
#contact-page form,
.map{
	border: 5px groove pink;
	border-radius: 10px;

}
#username:focus,
#email:focus,
#contact:focus,
#message:focus{
	background-color: pink;
}
#modal-header{
	width: 100%;

}

#jumbotron-contact{
	background-color: transparent;
	height: 20em;
	border-radius: 0;
	margin-bottom: 0;
	border: 5px groove pink;
	border-radius: 10px;
}
#jumbotron-contact > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: 2px groove #FF6978;
	background-color: transparent;
}


#jumbotron-contact > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
}

#meetteam{
	height: 100vh;
	width: 100vw;
	background-image: url(../images/878174-thumb.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#landing-about{
	font-size: 5em;
	padding-top: 25vh;
	letter-spacing: 0.1em;
}
#mission{
	height: 30vh;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;

}


#mission-left{
	background-image: url(../images/icecreambg4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 0;
	margin: 0;
	color: black;
	border-bottom-left-radius: 15px;
	border: 3px groove pink;
}

/*#mission-left h2{
	margin: 0;
	padding: 0;
}*/

#mission-right{
	background-color: #f2f2f2;
	border: 3px groove pink;
	/*border-radius: 15px;*/
	height: 30vh;
	width: 100%;
	padding: 20px;
	margin: 0;
	border-top-right-radius: 15px;

}

/*#vision-left-cont{
	font-size: 16px;
	padding: 10px;
}*/
/*#mission-right-cont{
	font-size: 16px;
	padding: 0
	margin: 0;
}*/

/*#vision-right,
#vision-left,
#mission-right,
#mission-left{
	background-color: #f2f2f2;
	border: 3px groove pink;
	border-radius: 15px;
	height: 50vh;
	width: 100%;
	padding: 0
	margin: 0;
}*/

/*#common{
	background-image: url(../images/ice-cream.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color: black;
	padding: 0;
	margin:0;
	width: 100%;
	height: 70vh;
}*/

#vision{
	height: 50vh;
	margin-top: 20px;
	margin-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
}


#vision-right{
	/*background-image: url(../images/home-img3-.jpg);*/
	background-image: url(../images/icecreambg4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding-top: 25vh;
	color: black;
	padding: 0;
	margin:0;
	border-top-right-radius: 15px;
	border: 3px groove pink;
}

#vision-left{
	background-color: #f2f2f2;
	border: 3px groove pink;
	/*border-radius: 15px;*/
	height: 50vh;
	width: 100%;
	padding: 20px;
	margin: 0;
	border-bottom-left-radius: 15px;
}
/*#meetteam1{
	background-color: #f2f2f2;
	border: 2px groove pink;
	width: 60%;
	border-radius: 10px;
	margin-left: 50px;
	height: 60%;
	padding: 0;
	margin: 20px 20px 20px 20px;
	margin: 5;
}*/


.img-media{
	height: 150px;
	width: 150px;
	border: 2px groove pink;
	border-radius: 50%;
}
.fa-search{
	/*background-color: pink;*/
}
.search-container{
	/*background-color: pink;*/
}
#icecream-items .card{
	height: 350px;
}

#icecream-items .card img {
	height: 300px;
	margin-bottom: 10px;

}
#icecream-text{
	background-color: white;
}
.footer{
	background-color: rgba(206, 201, 198, 1);
}

/*footer:hover{
	background-color: pink;
	margin-left: 0;
	margin-right: 0;
}*/

#left{
	width: 100%;
	border: 2px solid red;
	margin-top: 5%;
}

#head-gall{
	background-color: transparent;
	margin-top: 10%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	border: 3px groove pink;
	font-style: center;
}
#icecream-items{

	margin-left: 0;
	margin-right: 0;
}

#icecream-menupage{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	/*margin: 20px 0;*/
}
#icecream-menupage img{
	width: 100vw;
	height: 100vh;

}
#jumbotron-menu{
	background-color: #f2f2f2;
	height: 100vh;
	border-radius: 0;
	margin: 0;
	width: 100%;
}

#jumbotron-menu h1,
#jumbotron-menu hr,
#jumbotron-menu p{
	position: relative;
	top: 50%;

}


#icecream-menupage img:hover{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);

}

#icecream-menu1{
	height: 650px;
	width: 100%;
	/*background-color: pink;*/
	margin: 0;
	padding: 150px 20px;
	background-image: url(../images/icecreambg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#icecream-menu3{
	height: 650px;
	width: 100%;
	/*background-color: pink;*/
	margin: 0;
	padding: 150px 20px;
	background-image: url(../images/icecreambg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#icecream-menu2{
	height: 650px;
	width: 100%;
	background-color: #f2f2f2;
	margin: 0;
	padding: 150px 20px;
	background-image: url(../images/icecreambg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#icecream-menu4{
	height: 650px;
	width: 100%;
	background-color: #f2f2f2;
	margin: 0;
	padding: 150px 20px;
	background-image: url(../images/icecreambg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}


#icecream-items1 img{
	height: 200px;
	width: 100%;

}
#menu-text{
	padding: 0;
}
/* start of custom media queries */

/*Mobile Styles*/
@media only screen and (max-width: 400px) {

	/*common*/

/*	#navbar-home{
		height: 10px;
	}*/
	#navbar-index,
	#navbar-contact,
	#navbar-icecream,
	#navbar-home,
	#navbar-about,
	#navbar-events{
		background-color: pink;
	}
	#navbar-index > a,
	#navbar-contact > a,
	#navbar-icecream > a,
	#navbar-home > a,
	#navbar-about > a,
	#navbar-events > a{
		color: #E51666;
		height: 20px;
		font-size: 10px;
	}
	#navbar-index > img,
	#navbar-contact > img,
	#navbar-icecream > img,
	#navbar-home > img,
	#navbar-about > img,
	#navbar-events > img{
		width: 20px;
		height: 20px;
	}
	p{
		font-size: 12px;
	}
	.btn a{
		font-size: 12px;
	}
	footer{
		height: 40px;
		font-size: 12px;
		padding: 10px;
	}

	#navbar-nav{
		font-size: 10px;
		width: 100%;
	}
	/*end-common*/

	/*landing*/
	#jumbo-land{
		height: 100%;
		padding-top: 20%;

	}
	.jumbotron h1{
		letter-spacing: 0.1em;
		font-size: 30px;
	}
	.container > .btn{
		width: 150px;
		height: 40px;
	}
	/*end landing*/

	/*homepage*/
	/*end homepage*/


	/*contact page*/
	#contact-page > header{
		height: 70px;
		/*padding-top: 10px;*/
	}
	#contact-page > header > h1{
		font-size: 12px;
		padding: 0;
		margin-bottom: 0;
	}

	.modal {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.modal-header .close{
		width: 30px;
		padding-left: 5px;

	}

	#contact-page form,
	.map{
		border: 2px groove pink;
		border-radius: 10px;
		margin-bottom: 50px;

	}

	#jumbotron-contact{
		height: 200px;
		border: 2px groove pink;
		border-radius: 10px;
	}
	#jumbotron-contact > h1,
	#jumbotron-contact > p{
		font-size: 12px;
		margin: 5px;

	}
	#jumbotron-contact > .btn{
		height: 40px;
		width: 100px;
	}
	#modal-contact{
		width: 80%;
	}
	.form-group > .signup{
		font-size: 12px;
	}

	/*end contact page*/

/*about page*/
#meetteam{
	height: 100vh;
	width: 100vw;
}

#landing-about{
	font-size: 12px;
	padding-top: 25vh;
	letter-spacing: normal;
}
/*#mission{
	height: 30vh;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;

}


#mission-left{
	background-image: url(../images/icecreambg4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 0;
	margin: 0;
	color: black;
	border-bottom-left-radius: 15px;
	border: 3px groove pink;
}
*/

#mission-right{
	background-color: #f2f2f2;
	border: 3px groove pink;
	/*border-radius: 15px;*/
	height: 30vh;
	width: 100%;
	padding: 20px;
	margin: 0;
	border-top-right-radius: 15px;

}



#vision{
	height: 50vh;
	margin-top: 20px;
	margin-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
}


#vision-right{
	/*background-image: url(../images/home-img3-.jpg);*/
	background-image: url(../images/icecreambg4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding-top: 25vh;
	color: black;
	padding: 0;
	margin:0;
	border-top-right-radius: 15px;
	border: 3px groove pink;
}

#vision-left{
	background-color: #f2f2f2;
	border: 3px groove pink;
	/*border-radius: 15px;*/
	height: 50vh;
	width: 100%;
	padding: 20px;
	margin: 0;
	border-bottom-left-radius: 15px;
}
/*#meetteam1{
	background-color: #f2f2f2;
	border: 2px groove pink;
	width: 60%;
	border-radius: 10px;
	margin-left: 50px;
	height: 60%;
	padding: 0;
	margin: 20px 20px 20px 20px;
	margin: 5;
}*/


.img-media{
	height: 100px;
	width: 100px;
	border: 2px groove pink;
	border-radius: 50%;
}
/*end about page*/


}

/*Tablet Styles*/

@media only screen and (min-width: 401px) and (max-width: 960px) {
	#navbar-index,
	#navbar-contact,
	#navbar-icecream,
	#navbar-home,
	#navbar-about,
	#navbar-events{
		background-color: pink;
	}
	#navbar-index > a,
	#navbar-contact > a,
	#navbar-icecream > a,
	#navbar-home > a,
	#navbar-about > a,
	#navbar-events > a{
		color: #E51666;
		height: 20px;
		font-size: 10px;
	}

	/*landing*/
	#jumbo-land{
		height: 100%;
		padding-top: 20%;

	}
	.jumbotron h1{
		letter-spacing: 0.1em;
		font-size: 30px;
	}
	.container > .btn{
		width: 150px;
		height: 40px;
	}
	.modal {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	footer{
		height: 40px;
		font-size: 12px;
		padding: 10px;
	}




}

/*Desktop Styles*/

@media only screen and (min-width: 961px) {

}
/* end of custom media queries */