*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Federant', cursive;
}
html{
	/*height: 100%;*/
}
/*landing page*/
.jumbotron hr{
	background-color: #E51666;
}
.container > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: 3px groove #FF6978;
	background-color: transparent;
}
.container > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
}
.btn a{
	text-decoration: none;
	color: black;
}
.btn a:hover{
	text-decoration: none;
	color: white;
}

#jumbo-land{
	height: 100vh;
	padding-top: 20%;
	background-color: #333;
	border-radius: 0;
	background-image: url(../images/pexels-photo-327131.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.jumbotron h1{
	color: #f2f2f2;
}

class*="col"]{
	border: 3px groove transparent;
	/*float: left;*/
}
.navbar{
	/*background-color: pink;*/
	position: fixed;
	width: 100vw;
	/*height: 100px;*/
	z-index: 200;
}
.navbar:hover{
	background-color: pink;

}
.search-container{
	border: 1px solid white;

}

.search{
	background-color: pink;
	opacity: 0.5;
}


strong{
	color: #E51666;
	shape-outside: margin-box;
	font-weight: bold;
}
.fa-smile-wink{
	color: #E51666;
}


/*end landing page*/










/* start of custom media queries */

/*Mobile Styles*/
@media only screen and (max-width: 400px) {

}

/*Tablet Styles*/

@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/*Desktop Styles*/

@media only screen and (min-width: 961px) {

}
/* end of custom media queries */