*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Federant', cursive;
}
html{
	/*height: 100%;*/
}
/*landing page*/
.jumbotron hr{
	background-color: #E51666;
}
.container > .btn{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: 3px groove #FF6978;
	background-color: transparent;
}
.container > .btn:hover{
	border: 4px groove #FF6978;
	background-color: rgba(255, 105, 120, 0.5);
}
.btn a{
	text-decoration: none;
	color: black;
}
.btn a:hover{
	text-decoration: none;
	color: white;
}

#jumbo-land{
	height: 100vh;
	padding-top: 15%;
	background-color: #333;
	border-radius: 0;
	background-image: url(../images/pexels-photo-327131.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/*#jumbo-land:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}*/

.jumbotron h1{
	color: #f2f2f2;
}

.logo{
	height: 100%;
	width: 50px;
}
class*="col"]{
	border: 3px groove transparent;
	/*float: left;*/
}
.navbar{
	/*background-color: pink;*/
	position: fixed;
	width: 100vw;
	/*height: 100px;*/
	/*z-index: 200;*/
	height: 50px;
}
.navbar:hover{
	background-color: pink;

}
#navbar > a,
#navbar-home > a{
	color: #E51666;
	font-size: 30px;

}
#navbar-home{
	background-color: pink;
}

.subscribe{
	/*border: 1px groove #FF6978;*/
	/*background-color: rgba(255, 105, 120, 0.5);*/
	/*color: red;*/
	width: 40%;
	/*margin-bottom: 20px;*/
	/*bottom: 20%;*/
	/*height: 20px;*/
	padding: 0;
	margin: 0;
	/*font-size: 10px;*/
	/*float: right;*/


}

.subscribe span{
	/*font-family: 'Mukta', sans-serif;*/
	color: red;
	font-size:  20px;
}

.subscribe button{
	font-family: 'Mukta', sans-serif;
	background-color: green;
	color: white;
	border-radius: 5px;
	width: 100px;

}
.subs-email{
	background-color: pink;
	opacity: 0.5;
}

.search-container{
	border: 1px solid white;

}

.search{
	background-color: pink;
	opacity: 0.5;
}


strong{
	color: #E51666;
	shape-outside: margin-box;
	font-weight: bold;
}
.fa-smile-wink{
	color: #E51666;
}


/*end landing page*/



#carousel-home{
	height: 90vh;
	top: 50px;
	/*padding-top: 20%;*/
	border: 2px solid green;
	width: 100%;
	/*left: 10vw;*/
}

#carousel-home img{
	height: 70vh;
	max-height: 70vh;
}

.container-fluid{
	margin: 0;
	padding: 0;

}
.footer{
	position: fixed;
/*	padding: 0;
	margin: 0;*/
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: pink;
	/*text-align: center;*/
	height: 40px;
}

/* Style all font awesome icons */
.fa {
	padding: 10px;
	font-size: 30px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	border-radius: 100%;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;

}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;

}
/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.social{
	width: 50%;
}

#contact{
	/*height: 70vh;*/
	top: 50px;
	/*padding-top: 20%;*/
	border: 2px solid green;
	/*width: 80vw;*/
	/*left: 10vw;*/
}



/* start of custom media queries */

/*Mobile Styles*/
@media only screen and (max-width: 400px) {

}

/*Tablet Styles*/

@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/*Desktop Styles*/

@media only screen and (min-width: 961px) {

}
/* end of custom media queries */