*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*font-family: 'Kalam', cursive;*/
	/*font-family: 'Sigmar One', cursive*/
	/*text-align: center;*/
	/*font-family: 'Pacifico', cursive;*/
	/*font-family: 'Gloria Hallelujah', cursive;*/
	font-family: 'Federant', cursive;
	/*color: white;*/
}
